<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color='light'>
      Favorites
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let fav of favorites" [routerLink]="['/home',fav.id]">

    <ion-card-header>
      <ion-card-title>
        {{fav.title}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle>
        {{fav.type}}
      </ion-card-subtitle>
    </ion-card-content>

  </ion-card>

  <ion-toolbar class="stickend" color='ion-color-primary'>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/aboutus']">
  
        <div class="stcak">      
          <ion-icon name="heart"></ion-icon>
          <ion-label>About Us</ion-label>
        </div>
  
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <div class="stcak"> 
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>     
        </div>
      </ion-button>
    </ion-buttons>
  
      <ion-title>
        <div class="stcak">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Favorites</ion-label>
      </div>
      </ion-title>
  
  </ion-toolbar>

</ion-content>